@{
	ViewData["Title"] = "Admin Page";
}

<div class="container text-center">
	<h1>Admin
	</h1>
	<form >
        <form>
            <div class="mb-3">
                <label for="inputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
	</form>
</div>
