@{
    ViewData["Title"] = "About Page";
}

<div>
    <div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The BLUEBERRY GYM.<span class="text-muted">It'll blow your mind.</span></h2>
                <ul>
                    <li class="lead">
                        The Gym was established on june 5th, 2024, with the goal of making the most spacious and proper ventilition system to beat the rising heat of the capital heat.
                    </li>
                    <li class="lead">
                        Situated in the bustling city of Kathmandu, Nepal, our gym provides a convenient and accessible location for fitness enthusiasts.
                    </li>
                    <li class="lead">
                        Enjoy a spacious workout area equipped with modern exercise machines, free weights, and cardio equipment. Our facilities are designed to cater to all fitness levels, from beginners to advanced athletes.
                    </li class="lead">
                    <li class="lead">Participate in a variety of fitness classes led by certified instructors, including yoga, HIIT, spinning, and more. Our classes are designed to challenge and motivate you in a supportive environment.</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/gym2.png">
            </div>
        </div>
        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                 <ul>
                    <li class="lead">
                        Benefit from personalized training sessions tailored to your specific fitness goals. Our experienced trainers are committed to helping you succeed and stay motivated on your fitness journey.                    </li>
                    <li class="lead">
                        Join a vibrant community of like-minded individuals passionate about health and fitness. At Blueberry Gym, we believe in fostering a supportive and encouraging environment where everyone can thrive.
                    </li>
                    <li class="lead">
                        Our mission is to inspire and empower individuals to lead healthier and happier lives through fitness, nutrition, and wellness education.
                    </li class="lead">
                    <li class="lead">Visit Blueberry Gym today and discover a new way to fitness!
                    </li>
                </ul>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/gym3.png" >
            </div>
        </div>

    </div>
</div>