@{
    ViewData["Title"] = "Privacy Policy";
}


<div>
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to Blueberry Gym's Privacy Policy. Blueberry Gym ("we", "our", "us") respects your privacy and is committed to protecting the personal information you provide to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website [insert website URL], use our services, or engage with us in other ways.</p>

    <span class="h3">
        Information We Collect
    </span>
    <ul>
        <li>
            Personal Information: We may collect personal information such as your name, email address, phone number, and other details you provide when you register for membership, sign up for classes, or contact us.
        </li>
        <li>
            Usage Data: We automatically collect information about your interactions with our website and services, including IP address, browser type, pages visited, and other usage data.
        </li>
        <li>
            Payment Information: If you make payments for our services, we collect billing and payment information, which may include your credit card details.
        </li>
    </ul>

    <span class="h3">
        How We Use Your Information
    </span>
    <ul>
        <li>
            To provide and maintain our services, including processing membership registrations, class bookings, and payments.
        </li>
        <li>
            To communicate with you, respond to your inquiries, and provide customer support.

        </li>
        <li>
            To improve our website, services, and offerings based on your feedback and usage patterns.
        </li>
        <li>
            To send you promotional emails about our services, special offers, or events that may interest you (you can opt-out of these communications at any time).
        </li>
    </ul>

    <span class="h3">
        Sharing Your Information
    </span>
    <p>
        We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy or required by law.
    </p>

    <span class="h3">Your Rights</span>
    <p>You have the right to access, correct, or delete your personal information. You may also object to or restrict the processing of your information and request a copy of your data in a structured, machine-readable format.</p>

    <span class="h3">Contact Us</span>
    <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at [insert contact email or phone number].</p>
</div>